html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none  !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav {
  justify-content: space-between;
  align-items: center; }

ion-icon {
  color: #fff;
  transform: translateY(2px); }

.border_animation, .header .container-fluid .row_bottom .nav_item .nav_link, .header .container-fluid .row_bottom .has_mega .mega_content .item a, .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropdown_item a {
  position: relative; }
  .border_animation::before, .header .container-fluid .row_bottom .nav_item .nav_link::before, .header .container-fluid .row_bottom .has_mega .mega_content .item a::before, .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropdown_item a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.2s linear;
    transform-origin: right; }
  .border_animation:hover::before, .header .container-fluid .row_bottom .nav_item .nav_link:hover::before, .header .container-fluid .row_bottom .has_mega .mega_content .item a:hover::before, .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropdown_item a:hover::before {
    transform: scaleX(1);
    transform-origin: left; }
  .border_animation::after, .header .container-fluid .row_bottom .nav_item .nav_link::after, .header .container-fluid .row_bottom .has_mega .mega_content .item a::after, .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropdown_item a::after {
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.2s linear;
    transform-origin: left; }
  .border_animation:hover::after, .header .container-fluid .row_bottom .nav_item .nav_link:hover::after, .header .container-fluid .row_bottom .has_mega .mega_content .item a:hover::after, .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropdown_item a:hover::after {
    transform: scaleX(1);
    transform-origin: right; }

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Chakra Petch", sans-serif;
  padding-bottom: 1rem; }
  .header a {
    color: #fff; }
  .header .container-fluid .row_top {
    margin: 0.5rem 0 1rem 0;
    display: flex; }
    .header .container-fluid .row_top .moblie_only {
      display: none; }
    .header .container-fluid .row_top .logo_wrapper {
      display: flex;
      justify-content: center; }
      .header .container-fluid .row_top .logo_wrapper .logo img {
        height: 90%; }
    .header .container-fluid .row_top .nav_main .info {
      width: 100%;
      padding-left: 10px; }
    .header .container-fluid .row_top .nav_main .nav_item .nav_link {
      margin-left: 5px; }
    .header .container-fluid .row_top .nav_utility {
      font-size: 1.2rem;
      justify-content: flex-end; }
      .header .container-fluid .row_top .nav_utility .nav_interior .nav_item {
        margin: 0 10px; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_item .nav_link {
          margin-right: 5px; }
      .header .container-fluid .row_top .nav_utility .nav_interior .nav_cart_item ion-icon {
        position: relative; }
      .header .container-fluid .row_top .nav_utility .nav_interior .nav_cart_item span {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--bs-red);
        border-radius: 50%;
        display: none;
        width: 10px;
        height: 10px; }
      .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item {
        position: relative; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .nav_search {
          border: none;
          background-color: transparent; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .secondary_nav {
          display: none;
          position: absolute;
          background: #d1d0d0;
          bottom: -45px;
          right: -15px;
          width: 250px;
          height: 45px;
          z-index: 99999;
          padding: 5px;
          border-radius: 4px; }
          .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .secondary_nav .custom_form .search_bar {
            margin: auto;
            width: 100%;
            outline: none; }
          .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .secondary_nav .custom_form .search_btn {
            position: absolute;
            right: 6px;
            top: 6px;
            border: none;
            cursor: pointer;
            height: 33px; }
  .header .container-fluid .row_bottom {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0 3rem; }
    .header .container-fluid .row_bottom .nav_item {
      display: inline-block; }
      .header .container-fluid .row_bottom .nav_item .nav_link ion-icon {
        margin-left: 5px; }
    .header .container-fluid .row_bottom .has_mega {
      position: relative; }
      .header .container-fluid .row_bottom .has_mega .mega_content {
        z-index: 999;
        position: absolute;
        width: 1300px;
        left: 50%;
        top: 140%;
        transform: translate(-50%, 0);
        background-color: #ebebebcb;
        display: none;
        padding: 0.5rem 0;
        margin-top: 0.5rem; }
        .header .container-fluid .row_bottom .has_mega .mega_content .parent {
          padding-left: 3rem;
          flex: 1; }
        .header .container-fluid .row_bottom .has_mega .mega_content .item {
          line-height: 2.5rem; }
    .header .container-fluid .row_bottom .has_childs .dropdown_menu {
      z-index: 999;
      position: absolute;
      top: 140%;
      left: -0.5rem;
      margin-top: 0.5rem;
      padding: 0.5rem;
      background-color: #ebebebcb; }
      .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropdown_item {
        line-height: 2.5rem;
        margin: 0;
        padding: 0; }
      .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend {
        display: none; }

.section_1 #main_video {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
