html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none  !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Baunk Typeface';
  src: url(../font/BAUNK/Baunk.otf), url(../font/BAUNK/Baunk.ttf), url(../font/BAUNK/Baunk.woff); }
.nav {
  justify-content: space-between;
  align-items: center; }

ion-icon {
  color: #ebebeb;
  transform: translateY(2px); }

.bg_light {
  background-color: #ebebeb !important;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.8); }

.text_dark {
  color: black !important; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Chakra Petch", sans-serif; }
  .header a {
    color: #ebebeb; }
  .header .container-fluid .row_top {
    margin: 0.5rem 0 1rem 0;
    height: 30px;
    display: flex; }
    .header .container-fluid .row_top .moblie_only {
      display: none; }
    .header .container-fluid .row_top .logo_wrapper {
      height: inherit;
      display: flex;
      justify-content: center; }
      .header .container-fluid .row_top .logo_wrapper .logo img {
        height: 100%; }
    .header .container-fluid .row_top .nav_main {
      font-size: 1rem;
      height: inherit; }
      .header .container-fluid .row_top .nav_main .info {
        width: 100%;
        padding-left: 10px;
        justify-content: flex-start; }
      .header .container-fluid .row_top .nav_main .nav_item:last-child {
        margin-left: 10px; }
      .header .container-fluid .row_top .nav_main .nav_item .nav_link {
        margin-left: 5px; }
    .header .container-fluid .row_top .nav_utility {
      height: inherit;
      font-size: 1rem;
      justify-content: flex-end; }
      .header .container-fluid .row_top .nav_utility .nav_interior .nav_item {
        margin: 0 10px; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_item .nav_link {
          margin-right: 5px; }
      .header .container-fluid .row_top .nav_utility .nav_interior .nav_cart_item {
        position: relative; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_cart_item:hover .cart_container {
          display: block; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_cart_item .cart_container {
          display: none;
          position: absolute;
          background-color: #ebebeb;
          top: 100%;
          right: 0;
          width: max-content;
          z-index: 99999;
          padding: 0;
          border: 1px solid #525252;
          min-width: 200px; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_cart_item div {
          display: inline;
          position: relative; }
          .header .container-fluid .row_top .nav_utility .nav_interior .nav_cart_item div .cart_count {
            position: absolute;
            top: -5px;
            right: -7px;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            background-color: #e40303;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.75rem; }
      .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item {
        position: relative; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .nav_search {
          border: none;
          background-color: transparent; }
        .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .secondary_nav {
          display: none;
          position: absolute;
          background: #d1d0d0;
          bottom: -45px;
          right: -15px;
          width: 250px;
          height: 45px;
          z-index: 99999;
          padding: 5px;
          border-radius: 4px; }
          .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .secondary_nav .custom_form #search_bar {
            margin: auto;
            width: 100%;
            outline: none; }
            .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .secondary_nav .custom_form #search_bar::-webkit-input-placeholder {
              font-size: 1rem; }
          .header .container-fluid .row_top .nav_utility .nav_interior .nav_search_item .secondary_nav .custom_form .search_btn {
            position: absolute;
            right: 6px;
            top: 6px;
            border: none;
            cursor: pointer;
            height: 33px; }
  .header .container-fluid .row_bottom {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    padding: 0 3rem; }
    .header .container-fluid .row_bottom .nav_item {
      display: inline-block;
      padding-bottom: 0.5rem; }
      .header .container-fluid .row_bottom .nav_item .nav_link {
        position: relative; }
        .header .container-fluid .row_bottom .nav_item .nav_link ion-icon {
          margin-left: 5px; }
        .header .container-fluid .row_bottom .nav_item .nav_link::before, .header .container-fluid .row_bottom .nav_item .nav_link::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #222222;
          transform: scaleX(0);
          transition: transform 0.1s linear; }
        .header .container-fluid .row_bottom .nav_item .nav_link::before {
          bottom: -4px;
          left: 0;
          transform-origin: right; }
        .header .container-fluid .row_bottom .nav_item .nav_link:hover::before {
          transform: scaleX(1);
          transform-origin: left; }
        .header .container-fluid .row_bottom .nav_item .nav_link::after {
          top: -6px;
          right: 0;
          transform-origin: left; }
        .header .container-fluid .row_bottom .nav_item .nav_link:hover::after {
          transform: scaleX(1);
          transform-origin: right; }
    .header .container-fluid .row_bottom .has_mega {
      position: relative; }
      .header .container-fluid .row_bottom .has_mega:hover .mega_menu {
        display: block; }
      .header .container-fluid .row_bottom .has_mega .mega_menu {
        z-index: 999;
        position: absolute;
        width: 1300px;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 0);
        background-color: rgba(235, 235, 235, 0.8);
        display: none;
        padding: 0.5rem 0; }
        .header .container-fluid .row_bottom .has_mega .mega_menu .parent {
          padding-left: 3rem;
          flex: 1; }
        .header .container-fluid .row_bottom .has_mega .mega_menu .item {
          line-height: 2.5rem; }
          .header .container-fluid .row_bottom .has_mega .mega_menu .item a {
            position: relative; }
            .header .container-fluid .row_bottom .has_mega .mega_menu .item a::before, .header .container-fluid .row_bottom .has_mega .mega_menu .item a::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: #222222;
              transform: scaleX(0);
              transition: transform 0.1s linear; }
            .header .container-fluid .row_bottom .has_mega .mega_menu .item a::before {
              bottom: -4px;
              left: 0;
              transform-origin: right; }
            .header .container-fluid .row_bottom .has_mega .mega_menu .item a:hover::before {
              transform: scaleX(1);
              transform-origin: left; }
            .header .container-fluid .row_bottom .has_mega .mega_menu .item a::after {
              top: -6px;
              right: 0;
              transform-origin: left; }
            .header .container-fluid .row_bottom .has_mega .mega_menu .item a:hover::after {
              transform: scaleX(1);
              transform-origin: right; }
    .header .container-fluid .row_bottom .has_childs {
      position: relative; }
      .header .container-fluid .row_bottom .has_childs:hover .dropdown_menu {
        display: block; }
      .header .container-fluid .row_bottom .has_childs .dropdown_menu {
        display: none;
        z-index: 999;
        position: absolute;
        top: 100%;
        left: -0.5rem;
        padding: 0.5rem 0 0.5rem 0.5rem;
        background-color: rgba(235, 235, 235, 0.8);
        line-height: 2.5rem;
        margin-right: -0.5rem; }
        .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend {
          position: relative;
          padding: 0 0.5rem; }
          .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .nav_link {
            position: relative; }
            .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .nav_link::before, .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .nav_link::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: #222222;
              transform: scaleX(0);
              transition: transform 0.1s linear; }
            .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .nav_link::before {
              bottom: -2px;
              left: 0;
              transform-origin: right; }
            .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .nav_link:hover::before {
              transform: scaleX(1);
              transform-origin: left; }
            .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .nav_link::after {
              top: -2px;
              right: 0;
              transform-origin: left; }
            .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .nav_link:hover::after {
              transform: scaleX(1);
              transform-origin: right; }
          .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu {
            padding: 0.5rem 0;
            display: none;
            z-index: 999;
            position: absolute;
            top: -0.5rem;
            left: 100%;
            background-color: rgba(235, 235, 235, 0.8);
            line-height: 2.5rem;
            padding: 0.5rem 0;
            width: max-content; }
            .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu .dropend_item {
              padding: 0 0.5rem; }
              .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu .dropend_item .nav_link {
                position: relative; }
                .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu .dropend_item .nav_link::before, .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu .dropend_item .nav_link::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  background-color: #222222;
                  transform: scaleX(0);
                  transition: transform 0.1s linear; }
                .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu .dropend_item .nav_link::before {
                  bottom: -2px;
                  left: 0;
                  transform-origin: right; }
                .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu .dropend_item .nav_link:hover::before {
                  transform: scaleX(1);
                  transform-origin: left; }
                .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu .dropend_item .nav_link::after {
                  top: -2px;
                  right: 0;
                  transform-origin: left; }
                .header .container-fluid .row_bottom .has_childs .dropdown_menu .dropend .dropend_menu .dropend_item .nav_link:hover::after {
                  transform: scaleX(1);
                  transform-origin: right; }

.section_1 {
  height: 100vh;
  width: 100%; }
  .section_1 .parallax {
    position: relative;
    height: 100%;
    overflow: hidden; }
    .section_1 .parallax #main_video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1; }

.section_2 .wrapper {
  background-color: #fff;
  padding: 1rem 0;
  z-index: 1;
  position: relative; }
  .section_2 .wrapper .section_title {
    font-size: 2rem;
    font-family: "Baunk Typeface", sans-serif;
    text-transform: capitalize;
    margin: 1rem 0;
    padding: 0.5rem 0; }
    .section_2 .wrapper .section_title h2 {
      width: max-content;
      position: relative; }
      .section_2 .wrapper .section_title h2 a {
        color: black; }
      .section_2 .wrapper .section_title h2::before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transition: transform 0.2s linear;
        transform-origin: right; }
      .section_2 .wrapper .section_title h2:hover::before {
        transform: scaleX(1);
        transform-origin: left; }
  .section_2 .wrapper .d-grid {
    height: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px; }
    .section_2 .wrapper .d-grid .card_1 {
      grid-area: 1 / 1 / 5 / 3; }
    .section_2 .wrapper .d-grid .card_2 {
      grid-area: 1 / 3 / 5 / 5; }
    .section_2 .wrapper .d-grid .card_3 {
      grid-area: 5 / 1 / 9 / 3; }
    .section_2 .wrapper .d-grid .card_4 {
      grid-area: 5 / 3 / 9 / 5; }
    .section_2 .wrapper .d-grid .card_5 {
      grid-area: 3 / 5 / 7 / 7; }
    .section_2 .wrapper .d-grid .card_6 {
      grid-area: 3 / 7 / 7 / 9; }
    .section_2 .wrapper .d-grid .card_7 {
      grid-area: 7 / 5 / 11 / 7; }
    .section_2 .wrapper .d-grid .card_8 {
      grid-area: 7 / 7 / 11 / 9; }
    .section_2 .wrapper .d-grid .banner_1 {
      grid-area: 9 / 1 / 11 / 5; }
    .section_2 .wrapper .d-grid .banner_2 {
      grid-area: 1 / 5 / 3 / 9; }
    .section_2 .wrapper .d-grid .cards .product {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden; }
      .section_2 .wrapper .d-grid .cards .product .image {
        overflow: hidden;
        width: 100%; }
        .section_2 .wrapper .d-grid .cards .product .image img {
          width: 100%;
          height: auto;
          transition: transform 0.5s ease;
          object-fit: cover; }
      .section_2 .wrapper .d-grid .cards .product .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(235, 235, 235, 0.8);
        padding: 20px;
        transform: translateY(100%);
        transition: transform 0.5s ease;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .section_2 .wrapper .d-grid .cards .product .overlay .prduct_button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          background-color: black;
          color: #ebebeb;
          cursor: pointer; }
          .section_2 .wrapper .d-grid .cards .product .overlay .prduct_button:hover {
            background-color: #ebebeb;
            color: black; }
          .section_2 .wrapper .d-grid .cards .product .overlay .prduct_button:active {
            transform: translateY(2px); }
      .section_2 .wrapper .d-grid .cards .product:hover img {
        transform: scale(1.1); }
      .section_2 .wrapper .d-grid .cards .product:hover .overlay {
        transform: translateY(0%); }
    .section_2 .wrapper .d-grid .cards .product_detail .product_title {
      font: 600 1.2rem "Chakra Petch", sans-serif;
      margin: 10px 0 0 0; }
      .section_2 .wrapper .d-grid .cards .product_detail .product_title a {
        color: black; }
    .section_2 .wrapper .d-grid .cards .product_detail .product_price {
      font: 500 0.75rem "Chakra Petch", sans-serif; }
    .section_2 .wrapper .d-grid .banner {
      width: 100%; }
      .section_2 .wrapper .d-grid .banner .blink_animation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: black;
        color: #29b455;
        text-shadow: 0 0 10px rgba(37, 165, 77, 0.5), 0 0 20px rgba(37, 165, 77, 0.5), 0 0 30px rgba(37, 165, 77, 0.5), 0 0 40px rgba(37, 165, 77, 0.7), 0 0 70px rgba(37, 165, 77, 0.7), 0 0 80px rgba(37, 165, 77, 0.7), 0 0 100px rgba(37, 165, 77, 0.7), 0 0 150px rgba(37, 165, 77, 0.7); }
        .section_2 .wrapper .d-grid .banner .blink_animation::after {
          content: "|";
          animation: blink 1s step-end infinite; }
@keyframes blink {
  50% {
    opacity: 0; } }
      .section_2 .wrapper .d-grid .banner #brand_animation {
        font: 500 2rem "Baunk Typeface", sans-serif;
        height: 70%;
        box-shadow: inset 0 0 2px rgba(37, 165, 77, 0.5), inset 0 0 4px rgba(37, 165, 77, 0.5), inset 0 0 6px rgba(37, 165, 77, 0.5), inset 0 0 8px rgba(37, 165, 77, 0.7), inset 0 0 14px rgba(37, 165, 77, 0.7), inset 0 0 16px rgba(37, 165, 77, 0.7), inset 0 0 20px rgba(37, 165, 77, 0.7), inset 0 0 30px rgba(37, 165, 77, 0.7); }
      .section_2 .wrapper .d-grid .banner #brand_animation_2 {
        font: 500 3rem "Baunk Typeface", sans-serif;
        height: 100%;
        box-shadow: inset 0 0 2px rgba(37, 165, 77, 0.5), inset 0 0 4px rgba(37, 165, 77, 0.5), inset 0 0 6px rgba(37, 165, 77, 0.5), inset 0 0 8px rgba(37, 165, 77, 0.7), inset 0 0 14px rgba(37, 165, 77, 0.7), inset 0 0 16px rgba(37, 165, 77, 0.7), inset 0 0 20px rgba(37, 165, 77, 0.7), inset 0 0 30px rgba(37, 165, 77, 0.7); }

.section_3 .wrapper {
  background-color: #fff;
  padding: 1rem 0;
  z-index: 1;
  position: relative; }
  .section_3 .wrapper .section_title {
    font-size: 2rem;
    font-family: "Baunk Typeface", sans-serif;
    text-transform: capitalize;
    margin: 1rem 0;
    padding: 0.5rem 0; }
    .section_3 .wrapper .section_title h2 {
      width: max-content;
      position: relative; }
      .section_3 .wrapper .section_title h2 a {
        color: black; }
      .section_3 .wrapper .section_title h2::before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transition: transform 0.2s linear;
        transform-origin: right; }
      .section_3 .wrapper .section_title h2:hover::before {
        transform: scaleX(1);
        transform-origin: left; }
  .section_3 .wrapper .row {
    margin-bottom: 3rem; }
    .section_3 .wrapper .row .col {
      position: relative; }
      .section_3 .wrapper .row .col a {
        display: block;
        overflow: hidden; }
        .section_3 .wrapper .row .col a:hover div {
          filter: blur(10px); }
        .section_3 .wrapper .row .col a:hover img {
          transform: scale(1.05); }
        .section_3 .wrapper .row .col a:hover .title {
          transform: scale(1.1); }
          .section_3 .wrapper .row .col a:hover .title span::before {
            transform: scaleX(1);
            transform-origin: left; }
          .section_3 .wrapper .row .col a:hover .title span::after {
            transform: scaleX(1);
            transform-origin: right; }
        .section_3 .wrapper .row .col a img {
          object-fit: cover;
          height: 450px;
          width: 100%;
          filter: brightness(20%); }
        .section_3 .wrapper .row .col a .title {
          position: absolute;
          top: 0;
          left: 0;
          font-family: "Baunk Typeface", sans-serif;
          color: #ebebeb;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .section_3 .wrapper .row .col a .title span {
            position: relative; }
            .section_3 .wrapper .row .col a .title span::before, .section_3 .wrapper .row .col a .title span::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #990202;
              transform: scaleX(0);
              transition: transform 0.1s linear; }
            .section_3 .wrapper .row .col a .title span::before {
              bottom: -4px;
              left: 0;
              transform-origin: right; }
            .section_3 .wrapper .row .col a .title span::after {
              top: -6px;
              right: 0;
              transform-origin: left; }

footer {
  padding: 2rem 0 1rem 0;
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.8);
  background-color: #ebebeb;
  margin-top: 2rem;
  font: 400 1rem "Chakra Petch", sans-serif; }
  footer a, footer ion-icon {
    color: black; }
  footer a:hover {
    color: #313131; }
    footer a:hover ion-icon {
      color: black; }
  footer ion-icon {
    margin-right: 5px; }
  footer .footer_widget h3 a {
    position: relative;
    font-size: 1.5rem; }
    footer .footer_widget h3 a::before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: black;
      transform: scaleX(0);
      transition: transform 0.2s linear;
      transform-origin: right; }
    footer .footer_widget h3 a:hover::before {
      transform: scaleX(1);
      transform-origin: left; }
  footer .footer_widget img {
    width: 95%; }
  footer .footer_widget .footer_info {
    margin-top: 2rem; }
  footer .footer_widget .list_menu {
    padding: 0; }
    footer .footer_widget .list_menu li {
      line-height: 1rem;
      margin-bottom: 1rem; }
  footer .footer_widget form {
    position: relative; }
    footer .footer_widget form .subscribe_input {
      margin: auto;
      width: 70%;
      outline: none;
      border: none;
      height: 30px;
      padding-left: 5px; }
      footer .footer_widget form .subscribe_input::-webkit-input-placeholder {
        font-size: 1rem; }
    footer .footer_widget form .subscribe_btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 30%;
      border: none;
      cursor: pointer;
      height: 30px;
      background-color: #3edc70; }
  footer .footer_payment {
    margin-top: 0.5rem; }
    footer .footer_payment .payment_list {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: start;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
