//! font size
$font-size-xl1: 2rem;
$font-size-xl2: 3rem;
$font-size-xl3: 4rem;
$font-size-md1: 1rem;
$font-size-md2: 1.2rem;
$font-size-md3: 1.5rem;
$font-size-sm1: 0.5rem;
$font-size-sm2: 0.75rem;

//! font family
$font-fam1: 'Chakra Petch', sans-serif;
$font-fam2: 'Josefin Sans', sans-serif;
$font-fam3: 'Poppins', sans-serif;

//! color
// $--color-prime: 